<a href="https://colab.research.google.com/github/Jeremay01/Linear-Algebra-2nd-Sem/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types
Variables are considered as the nouns of the programming language. They are symbols that stands for a value, and that value can change over time. Variables can only provide temporary storage for information that will be needed for a computer lifespan.

Similar to variables, data types are essential to any programming language. Without them, maintainig information within a computer would be very difficult.

In [ ]:
x=1
a,b=0, -1
x

1

In [ ]:
type(x)

int

In [ ]:
y=1.0
type(y)

float

In [ ]:
x= float (x)
type (x)

float

In [ ]:
s, t, u = "0", '1', 'one'
type (s)

str

In [ ]:
t_int=int(t)
t_int
type(t)

str

### Operations

### Arithmetic
Addition, subtraction, multiplication, and division are all examples of mathematical operations that are performed with arithmetic operators. The symbols used in this type of functions are the plus (+) sign, negative (-) sign, asterisk (*) and slash (/). Floor division, exponentiation and modulo are also included in arithmetic operations.

In [ ]:
a,b,c,d = 2.0, -0.5, 0, -32

In [ ]:
### Addition
S = a+b
S

1.5

In [ ]:
### Subtraction
D = b-d
D

31.5

In [ ]:
### Multiplication
P = a*D
P

63.0

In [ ]:
### Division
Q =c/a
Q

0.0

In [ ]:
### Floor Division
Fq = a//b
Fq

-3.0

In [ ]:
### Exponentiation
E = a**b
E

0.7071067811865476

In [ ]:
### Modulo
mod = d%a
mod

1.0

### Assignment Operations
Assignment operators are basically used to assign values to variables.

In [ ]:
G, H, J, K = 0, 100, 2, 2

In [ ]:
G += a
G

2.0

In [ ]:
H -= d
H

228

In [ ]:
J *= 3
J

54

In [ ]:
K **= 2
K

65536

### Comparators
When two values are compared, they are referred to as the comparators. A boolean value is generated and compared using this tool. However, it can also be utilized with a variety of other data kinds, such as numerical data.

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality 
res_2 == true_val

False

In [ ]:
## Non-equality
res_3 != true_val

True

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
t4

True

### Logical
Logical operators are used to perform logical operations on the values of variables. It can be either true or false and it can be figured out by the result of the truth values

In [ ]:
res_1 == true_val

True

In [ ]:
res_1 is true_val

False

In [ ]:
res_1 is not true_val

True

In [ ]:
p, q = True, True
conj = p and q
conj

True

In [ ]:
p, q = False, False
disj = p or q
disj

False

In [ ]:
p, q = True, False
e = not (q)
e

True

### I/O
I/O operators help in taking input and siplay output. The simplest way to produce output is using the print statement. This function converts the expressions you pass into a string and writes the result to standard output

In [ ]:
print ("Hello Mars")

Hello Mars

In [ ]:
cnt = 1

In [ ]:
string = "Hello World"
print (string, ", Current run count is:", cnt)
cnt += 4

Hello World , Current run count is: 19

In [ ]:
print (f"{string}, current count is: {cnt}")

Hello World, current count is: 23

In [ ]:
sem_grade = 99.24356457461234
name = "jere"
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello jere, your semestral grade is: 99.24356457461234

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print ("The weight of your semestral grades are:\
\n\t{:2%} for Prelims\
\n\t{:2%} for Midterms, and\
\n\t{:2%} for Finals." .format (w_pg, w_mg, w_fg))

The weight of your semestral grades are:
	30.000000% for Prelims
	30.000000% for Midterms, and
	40.000000% for Finals.

In [ ]:
x=input ("enter a number: ")
x

enter a number: 27

'27'

In [ ]:
name = input ("Kimi no nawa: ")
pg = input ("Enter prelim grade: ")
mg = input ("Enter midterm grade: ")
fg = input ("Enter finals grade: ")
sem_grade = None
print ("Hello {}, your semestral grade is: {}" .format(name, sem_grade))

Kimi no nawa: je
Enter prelim grade: 78
Enter midterm grade: 90
Enter finals grade:
Hello je, your semestral grade is: None

# Looping Statements
In a programming language, a loop is a statement that contains instructions that continually repeats until a certain condition is reached. With the use of loops, hundre lines of code can be shortened into few.

## While
The while loop is a python function that repeats a set of instructions until a specific condition is met. And when the condition becomes false, the line immediately after the loop in program is executed.

In [ ]:
## while loops
i, j = 0, 10
while(i<=j) :
    print(f"{i}\t|\t{j}")
    i+=1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

## Functions
A function is a block of code which only runs when it is called.

In [ ]:
# void DeleteUser(int userid){
#   delete(userid);
# }

def delete_user (userid):
    print("Successfully deleted user: {}" .format(userid))

def delete_all_users ():
    print("All of us are Dead")

In [ ]:
userid = "Jere"
delete_user("Jere")
delete_all_users()

Successfully deleted user: Jere
All of us are Dead

In [ ]:
def add(addend1, addend2):
    return addend1 + addend2

def power_of_base2(exponent):
    return 2**exponent

In [ ]:
addend1, addend2 = 24, 25
add(addend1, addend2)

exponent = 8
power_of_base2(exponent)

256

### Grade Calculator

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
Name = input("Enter your name: ")
Course = input ("Enter your course: ")
pg = float (input ("Enter Prelim Grade: "))
mg = float (input ("Enter Midterm Grade: "))
fg = float (input ("Enter Final Grade: "))
sem_grade = (pg*w_pg)+(mg*w_mg)+(fg*w_fg)
print ("Hello {}, from {}, your semestral grade for this subject is: {}". format(Name, Course, round(sem_grade, 2)))
if(sem_grade >70.00):
  print("\U0001F600")
elif(sem_grade ==70.00):
  print("\U0001F606")
else:
  print("\U0001F62D")

Enter your name: Jeremay G. Onayan
Enter your course: BS Chemical Engineering
Enter Prelim Grade: 97
Enter Midterm Grade: 96
Enter Final Grade: 96
Hello Jeremay G. Onayan, from BS Chemical Engineering, your semestral grade for this subject is: 96.3
😀

## j